.navbar {
  padding-top: 0;
}

.picture__end {
  padding-left: 0px;
}

/* .carousel slide {
  height: 150px;
} */

.carousel-inner {
  height: 400px;
}
/* .slider {
  height: 150px;
} */

.section__extracare {
  margin-top: 10px;
}
.figure-img {
  height: 150px;
}
.figure {
  height: 250px;
  width: 850px;
}

.section__nutriclub {
  margin-top: 50px;
  margin-bottom: 200px;
}

.button__daftar {
  width: 250px;
  margin-top: 20px;
}

.section__footer {
  margin-top: 20px;
  background-color: #3240a8;
  /* height: 160px; */
}
